.gradientText{
  background: -webkit-linear-gradient(0deg, #02f0fd, #6250db);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
